# انسخ هذا الملف باسم .env ثم ضع رابط Supabase الحقيقي مكان PUT_YOUR_SUPABASE_DATABASE_URL_HERE

PORT=4545
NODE_ENV=development
CONTROL_DATABASE_URL=PUT_YOUR_SUPABASE_DATABASE_URL_HERE
JWT_SECRET=ysale_secret_2026_very_long_random_key_change_later
SYSTEM_ADMIN_USERNAME=admin
SYSTEM_ADMIN_PASSWORD=123456789
